
#wrapper {
   width:80%; 
   min-height:95vh;
   border: 1px ; 
   margin:auto;
   display:grid;
   grid-template-areas: 
   'hd hd hd'
   's1 s1 s1'
   'nv'
}

header {

   background-color: #d9c8b0; 
   grid-area: hd; 
   border-radius: 2%;
}

section {

}

#s1 {
    grid-area: s1; 
}