#wrapper {
   width:80%; 
   min-height:95vh;
   border: 1px ; 
   margin:auto;
   display:grid;
   grid-template-areas: 
   'hd hd'
   'nv nv'
   's1 s1';
   grid-template-rows: 0.5fr 0.5fr 2fr; /* 3fr=100% 1fr=33% */
}

#header1 {
   background-color:antiquewhite; 
   grid-area: hd; 
   border-radius: 2%;
}

#nav1 {
   background-color:red;
   grid-area: nv;
}


#s1 {
   grid-area: s1; 
   background-image: url(/img/flowerbranch.jpg);
   background-size: cover;
   display: flex;
   align-items: center;
   padding: 100px;
}

article{
   background-color: blue;
   width: 400px;
   height: 400px
}